<?xml version="1.0"?>
<launch>

  <!-- Command to generate URDF from Xacro -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find path_planning_and_control_assignment)/urdf/robot_model.xacro'" />

  <!-- Send joint states to tf -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>
